#mainContainerRegister{
    h1{
        font-size: 20px;
        text-align: center;
    }
    #registerContainer{
        width: 80%;
        margin-left: 10%;
        border-radius: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        
        #containerFormRegister{
            
            .button-form{
                background-color: #005AD4;
                color: white;
                border-radius: 2px;
                font-size: 14px;
                padding: 5px;
                width: 80%;
                margin-left: 10%;
                margin-top: 10px;
                cursor: pointer;
            }
            #containerFirstLastName{
                #containerFirstName,#containerLastName{
                    display: flex;
                }
                .inputField{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin-left: 10%;
                    margin-top: 10px;
                    label{
                        font-size: 10px;
                        color: #afbdcf;
                        padding: 12px;
                        padding-left: 15px;
                        position: absolute;
                        transition:0.2s ease all; 
                        -moz-transition:0.2s ease all; 
                        -webkit-transition:0.2s ease all;
                        pointer-events: none;
                    }
                    input::placeholder{
                        opacity: 0;
                    }
                    input:not(:placeholder-shown) + label{
                        transform: translateY(-12px);
                        padding: 0px 5px 0px 5px;
                        margin-left: 5px;
                    }
                    input:focus + label{
                        transform: translateY(-8px);
                        background: #ffffff;
                        padding: 0px 5px 0px 5px;
                        margin-left: 5px;
                        color:#2296EB;
                    }
                    input{
                        border: 1px solid #E2E2E2;
                        border-style:solid;
                        padding: 10px 0 10px 5px;
                    }
                    input[type="text"]:focus {
                        border-color: #2296EB;
                        outline: none;
                    }

                }
            }
            #containerEmailPassword{
                
                #containerEmail,#containerPassword{
                    display: flex;
                    
                }
                #containerPassword{
                    img{
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        right: 20%;
                        margin-top: 20px;
                    }
                }
                .inputField{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin-left: 10%;
                    margin-top: 20px;
                    label{
                        font-size: 10px;
                        color: #afbdcf;
                        padding: 12px;
                        padding-left: 15px;
                        position: absolute;
                        transition:0.2s ease all; 
                        -moz-transition:0.2s ease all; 
                        -webkit-transition:0.2s ease all;
                        pointer-events: none;
                    }
                    input:focus + label{
                        color: #afbdcf;
                        transform: translateY(-8px);
                        background: #ffffff;
                        padding: 0px 5px 0px 5px;
                        margin-left: 5px;
                        color:#2296EB;
                    }
                    input::placeholder{
                        opacity: 0;
                    }
                    input:not(:placeholder-shown) + label{
                        transform: translateY(-12px);
                        padding: 0px 5px 0px 5px;
                        margin-left: 5px;
                    }
                    input{
                        border: 1px solid #E2E2E2;
                        border-style:solid;
                        padding: 10px 0 10px 5px;
                    }
                    input[type="text"]:focus {
                        outline: none;
                    }
                    
                    
                }
            }
            #containerSelectRole{
                width: 80%;
                margin-left: 10%;
                .selectFieldContainer{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    .selectField{
                        margin-top: 3px;
                        width: 120px;
                        option{
                            font-size: 16px;
                        }
                       
                    }
                }
            }
            #containerDemarcation{
                margin-top: 20px;
                width: 80%;
                margin-left: 10%;
                hr{
                    border: 1px solid black;
                    
                }
                p{
                    font-size: 16px;
                    position: absolute;
                    color: black;
                    transform: translateY(-40px);
                    z-index: 2;
                    background-color: white;
                    margin-left: 30%;
                    padding: 6px 6px 6px 6px;
                }
            }
            #containerGoogle, #containerLinkedin{
                display: flex;
                width: 80%;
                margin-left: 10%;
                border: 1px solid #E2E2E2;
                cursor: pointer;
                padding: 10px 0 0 15px;
                margin-top: 20px;
                img{
                    max-height: 20px;
                    width: auto;
                    height: auto;
                    max-width: 10%;  
                    transform: translateY(5px);
  
                }
                p{
                    font-size: 12px;
                    transform: translateY(-4px);
                    margin-left: 7px;
                
                }
            }
          
            
        }
    }
}

@media screen and (min-width: 500px){
    #mainContainerRegister{
        h1{
            font-size: 25px;
        }
        #registerContainer{
            margin-left: 15%;
            #containerFormRegister{
                .button-form{
                    font-size: 16px;
                    width: 30%;
                    margin-left: 30%;
                    margin-top: 20px;
                }
                #containerFirstLastName{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    #containerFirstName,#containerLastName{
                        width: 100%;
                    }
                    .inputField{
                        width: 80%;
                        margin-left: 0;
                    }
                }
                #containerEmailPassword{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin-top: 10px;
                    #containerEmail,#containerPassword{
                        width: 100%;
                    }
                    .inputField{
                        width: 80%;
                        margin-left: 0;
                        margin-top: 20px;
                    }
                    #containerPassword{
                        img{
                            right: 15%;
                        }
                    }
                }
                #containerDemarcation{
                    margin-top: 20px;
                    width: 90%;
                    margin-left: 0px;
                    hr{
                        border: 1px solid black;
                        
                    }
                    p{
                        font-size: 16px;
                        transform: translateY(-40px);
                        margin-left: 35%;
                    }
                } 
            } 
            
        }
        
    }
    
    
}