<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influenceur Business</title>
    <style>
        h1{
            text-align: center;
            font-size: 15px;
        }
        @media screen and (min-width: 500px){
            h1{
                font-size: 20px;
            }
        }
        @media screen and (min-width: 700px){
            h1{
                font-size: 25px;
            }
        }
        @media screen and (min-width: 1000px){
            h1{
                font-size: 30px;
            }
        }
    </style>
</head>
<body>
    <h1>Votre mot de passe a été réinitialisé. Vous pouvez fermer cette page</h1>
</body>
</html>