#mainContainerResetPassword{
    width: 80%;
    margin-left: 10%;
}
#mainContainerResetPassword h1{
    font-size: 18px;
    text-align: center;
}

#formContainer{
    margin-top: 30px;
}
#formContainer p:nth-child(1){
    font-size: 12px;
}

#formContainer #button-form{
    background-color: #005AD4;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    
}
.inputField{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.inputField label{
    font-size: 12px;
    color: #afbdcf;
    padding: 15px 15px 15px 15px;
    position: absolute;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    pointer-events: none;
}
.inputField  input::placeholder{
    opacity: 0;
}
.inputField  input:not(:placeholder-shown) + label{
    transform: translateY(-15px);
    padding: 0px 5px 0px 5px;
    margin-left: 5px;
}
.inputField  input:focus + label{
    transform: translateY(-8px);
    background: #ffffff;
    padding: 0px 5px 0px 5px;
    margin-left: 5px;
    color:#2296EB;
}
.inputField input{
    border: 1px solid #E2E2E2;
    border-style:solid;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    height: 20px;
}
.inputField input[type="text"]:focus {
    border-color: #2296EB;
    outline: none;
}

@media screen and (min-width: 500px){
    #mainContainerResetPassword{
        width: 70%;
        margin-left: 15%;
    }
    #mainContainerResetPassword h1{
        font-size: 25px;
    }
    #formContainer p:nth-child(1){
        font-size: 15px;
    }
    
    #formContainer #button-form{      
        font-size: 15px;
    }
    .inputField label{
        font-size: 15px; 
        padding: 10px 20px 10px 20px;
    }
    
}

@media screen and (min-width: 1000px){
    #mainContainerResetPassword{
        width: 50%;
        margin-left: 25%;
    }
    #mainContainerResetPassword h1{
        font-size: 40px;
    }    
}