@import "../abstract/variables";

html{
    scroll-behavior: smooth;

}

.block{
    width: 90%;
}

.landing-background {
background-image: url('../../images/bg1.png'),url("../../images/bg2.png");
background-repeat: no-repeat;
background-size: 167px, 65%;
background-position: -5% bottom, 120% top;

padding-top: 15vh;
padding-bottom: 5vh;

    .calltoaction__title {
        font-size: clamp(1.3rem, 2.8vw, 3rem);
        line-height: 1.3;
        // font-family: $fonts;
    }
    
    .calltoaction__subtitle {
        font-size: clamp(0.9rem, 1.8vw, 1.3rem);
        color: #3a3a3a;
        background-image: linear-gradient(45deg, #480080, #cccccc);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        padding: 0vw 0 2vw 0;
    }
    
    .calltoaction__img{
        text-align: center;
        margin: auto;
        img{
            // width: 100%;
        }
    }
    
    .calltoaction__button{
        cursor: pointer;
        color: #ffffff;
        background-color: #480080;
        border-color: #480080;
        padding: 16px 20px;
        line-height: 1;
        font-weight: 700;
        border-radius: 0.25rem;
        &:hover {
            background-color: #480080;
        }
    }
}

// —————————————————————————————————————————————
// ——————————————— MEDIA QUERIES ———————————————
// —————————————————————————————————————————————

@media (min-width: 0px) {
    .block {
        width: 90%;
        .calltoaction__img {
            text-align: right;
            img {
                width: 50%;
                padding-right: 3%;
            }
        }
    }
}

@media (min-width: 640px) {
    .block {
        width: 90%;
        .calltoaction__img {
            text-align: center;
            img {
                width: 50%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .block {
        width: 80%;
        .calltoaction__img {
            text-align: center;
            img {
                width:80%;
            }
        }
    }
}
@media (min-width: 1440px) {
    .block {
        width: 70%;
        .calltoaction__img {
            text-align: center;
            img {
                width:80%;
            }
        }
    }
}

@media (min-width:    0px) {} //  to 0
@media (min-width:  640px) {} //  40rem
@media (min-width: 1024px) {} //  64rem
@media (min-width: 1440px) {} //  90rem
@media (min-width: 1920px) {} // 120rem