@import "../abstract/variables";

html {
    scroll-behavior: smooth;

}

.block {
    width: 90%;
}



.landing-background {
    background-image: url('../../images/bg1.png'), url("../../images/bg2.png");
    background-repeat: no-repeat;
    background-size: 167px, 65%;
    background-position: -5% bottom, 120% top;

    padding-top: 15vh;
    padding-bottom: 5vh;
}

.down-background {
    // background-image: url('../../images/bg3.svg');
    background-image: url('../../images/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 340px;
    background-position: -7% bottom;
    // transform: scaleY(-1);
}

.calltoaction {
    .calltoaction__title {
        font-size: clamp(1.3rem, 2.8vw, 3rem);
        line-height: 1.3;
        // font-family: $fonts;
    }

    .calltoaction__subtitle {
        font-size: clamp(0.9rem, 1.8vw, 1.3rem);
        color: #3a3a3a;
        background-image: linear-gradient(45deg, #480080, #cccccc);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        padding: 0vw 0 2vw 0;
    }

    .calltoaction__img {
        text-align: center;
        margin: auto;

        img {
            min-width: 200px;
        }
    }

    .calltoaction__button {
        cursor: pointer;
        color: #ffffff;
        background-color: #480080;
        border-color: #480080;
        padding: 16px 20px;
        line-height: 1;
        font-weight: 700;
        border-radius: 0.25rem;

        &:hover {
            background-color: #480080;
        }
    }
}

.presentation-background {
    background-image: url('../../images/devopsweb.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.presentation {
    padding: 2vw 0 2vw 0;

    .presentation__card {
        padding: 0 2vw;
        min-width: 250px;
        background-color: #ffffffa2;
        backdrop-filter: blur(20px);

        border: solid px #a2a2f6;
        border-radius: 13px;

        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8), 0 0px 5px #9000ff, 0 0 50px 50px rgba(255, 255, 255, 0.25);

        .card__content {
            .card__img {
                padding-top: 1vw;
                text-align: center;

                img {
                    max-width: 80%;
                    max-height: 80%;
                    mix-blend-mode: multiply;
                }
            }

            .card__title {
                font-size: clamp(1.3rem, 2.2vw, 2rem);
            }

            .card__subtitle {
                font-size: clamp(0.8rem, 1.2vw, 1.3rem);
                color: #3a3a3a;
            }
        }
    }
}

// —————————————————————————————————————————————
// ——————————————— MEDIA QUERIES ———————————————
// —————————————————————————————————————————————

@media (min-width: 0px) {
    .block {
        width: 90%;
    }

    .block.presentation {
        width: 60%;
    }

    .calltoaction__img {
        text-align: right;

        img {
            width: 50%;
            padding-right: 3%;
        }
    }

    .presentation {
        .presentation__card {
            margin: 1vw;
        }
    }
}

@media (min-width: 640px) {
    .block {
        width: 90%;
    }

    .block.presentation {
        width: 60%;
    }

    .calltoaction__img {
        text-align: center;
        position: relative;
        top: 0px;

        img {
            width: 40%;
        }
    }
}

@media (min-width: 1040px) {
    .block {
        width: 80%;
    }

    .block.presentation {
        width: 80%;
    }

    .calltoaction__img {
        text-align: center;

        img {
            width: 100%;
        }
    }

    .presentation {
        .presentation__card {
            width: 30%;
        }
    }
}

@media (min-width: 1440px) {
    .block {
        width: 70%;

        .calltoaction__img {
            text-align: center;

            img {
                width: 80%;
            }
        }
    }
}



@media (min-width: 0px) {}

//  to 0
@media (min-width: 640px) {}

//  40rem xs
@media (min-width: 1024px) {}

//  64rem sm
@media (min-width: 1440px) {}

//  90rem md
@media (min-width: 1920px) {}

// 120rem lg