@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.login {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #a2a2f6, #3a0051);

    .login__container {
        max-width: 700px;
        width: 100%;
        background-color: #fff;
        padding: 25px 30px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

        .login__title {
            font-size: 25px;
            font-weight: 500;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 58px;
                border-radius: 5px;
                background: linear-gradient(135deg, #3a0051, #a2a2f6);
            }
        }

        .login__details {
            // display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0 12px 0;

            .input-box {
                margin-bottom: 15px;

                span.details {
                    display: block;
                    font-weight: 500;
                    margin-bottom: 5px;
                }

                input {
                    height: 45px;
                    width: 100%;
                    outline: none;
                    font-size: 16px;
                    border-radius: 5px;
                    padding-left: 15px;
                    border: 1px solid #ccc;
                    border-bottom-width: 2px;
                    transition: all 0.3s ease;

                    &:focus,
                    &:valid {
                        border-color: #a2a2f6;
                    }
                }
            }

        }

        .role-details {
            .role-title {
                font-size: 20px;
                font-weight: 500;
            }

            .category {
                display: flex;
                width: 80%;
                margin: 14px 0;
                justify-content: space-between;

                label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .dot {
                        height: 18px;
                        width: 18px;
                        border-radius: 50%;
                        margin-right: 10px;
                        background: #d9d9d9;
                        border: 5px solid transparent;
                        transition: all 0.3s ease;
                    }
                }
            }

            #dot-1:checked~.category label .one,
            #dot-2:checked~.category label .two,
            #dot-3:checked~.category label .three {
                background: #3a0051;
                border-color: #a2a2f6;
            }

            input[type="radio"] {
                display: none;
            }
        }

        .button {
            height: 45px;
            margin: 35px 0;

            input {
                height: 100%;
                width: 100%;
                border-radius: 5px;
                border: none;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 1px;
                cursor: pointer;
                transition: all 0.3s ease;
                background: linear-gradient(135deg, #3a0051, #3a0051);

                &:hover {
                    /* transform: scale(0.99); */
                    background: linear-gradient(90deg, #3a0051, #a2a2f6);
                }
            }

        }

        #containerGoogle,
        #containerLinkedin {
            display: flex;
            width: 35%;
            border: 1px solid #E2E2E2;
            border-radius: 5px;
            cursor: pointer;
            padding: 10px 0 0 15px;
            margin-top: 20px;

            img {
                max-height: 20px;
                width: auto;
                height: auto;
                max-width: 10%;
                transform: translateY(10px);
            }

            p {
                font-size: 16px;
                transform: translateY(-4px);
                margin-left: 7px;
            }

            &:hover {
                background: linear-gradient(180deg, #ffffff, #dadada);
            }
        }
    }
}


@media(max-width: 584px) {
    .login__container {
        max-width: 100%;
    }

    form .login__details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .login__details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .login__details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .login__container .login__content .category {
        flex-direction: column;
    }
}