#mainContainerRegister{
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 100px;
    h1{
        font-size: 25px;
        text-align: center;
    }
    #registerContainer{
        width: 80%;
        margin-left: 10%;
        border-radius: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        
        #containerFormRegister{
            #errorMessage{
                color: red;
                font-size: 14px;
                font-weight: bold;
                width: 80%;
                margin-left: 10%;
            }
            .button-form{
                background-color: #005AD4;
                color: white;
                border-radius: 2px;
                font-size: 14px;
                padding: 5px;
                width: 50%;
                margin-left: 25%;
                margin-top: 10px;
                font-weight: bold;
                cursor: pointer;
            }
            #containerFirstLastName{
                #containerFirstName,#containerLastName{
                    display: flex;
                }
                .inputField{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin-left: 10%;
                    margin-top: 12px;
                    label{
                        font-size: 10px;
                        color: #afbdcf;
                        padding: 15px 15px 15px 15px;
                        position: absolute;
                        transition:0.2s ease all; 
                        -moz-transition:0.2s ease all; 
                        -webkit-transition:0.2s ease all;
                        pointer-events: none;
                    }
                    
                    input::placeholder{
                        opacity: 0;
                    }
                    input:not(:placeholder-shown) + label{
                        transform: translateY(-12px);
                        padding: 0px 5px 0px 5px;
                        margin-left: 5px;
                    }
                    input:focus + label{
                        transform: translateY(-8px);
                        background: #ffffff;
                        padding: 0px 5px 0px 5px;
                        margin-left: 5px;
                        color:#2296EB;
                    }
                    input{
                        border: 1px solid #E2E2E2;
                        border-style:solid;
                        padding: 10px 10px 10px 10px;
                        font-size: 12px;
                        height: 20px;
                    }
                    input[type="text"]:focus {
                        border-color: #2296EB;
                        outline: none;
                    }

                }
            }
            #containerEmailPassword{
                
                #containerEmail,#containerPassword{
                    display: flex;
                    
                }
                #containerPassword{
                    img{
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        right: 20%;
                        margin-top: 23px;
                        cursor: pointer;
                    }
                }
                .inputField{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin-left: 10%;
                    margin-top: 12px;
                    label{
                        font-size: 10px;
                        color: #afbdcf;
                        padding: 15px 15px 15px 15px;
                        position: absolute;
                        transition:0.2s ease all; 
                        -moz-transition:0.2s ease all; 
                        -webkit-transition:0.2s ease all;
                        pointer-events: none;
                    }
                    input:focus + label{
                        color: #afbdcf;
                        transform: translateY(-8px);
                        background: #ffffff;
                        padding: 0px 5px 0px 5px;
                        margin-left: 5px;
                        color:#2296EB;
                    }
                    input::placeholder{
                        opacity: 0;
                    }
                    input:not(:placeholder-shown) + label{
                        transform: translateY(-12px);
                        padding: 0px 5px 0px 5px;
                        margin-left: 5px;
                    }
                    input{
                        border: 1px solid #E2E2E2;
                        border-style:solid;
                        padding: 10px 10px 10px 10px;
                        font-size: 12px;
                        height: 20px;
                    }
                    input[type="text"]:focus {
                        outline: none;
                    }
                    
                    
                }
            }
            #containerSelectRole{
                width: 80%;
                margin-left: 10%;
                .selectFieldContainer{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    label{
                        font-size: 14px;
                    }
                    .selectField{
                        margin-top: 3px;
                        width: 120px;
                        font-size: 16px;
                        option{
                            font-size: 16px;
                        }
                       
                    }
                }
            }
            #containerDemarcation{
                margin-top: 20px;
                width: 80%;
                margin-left: 10%;
                hr{
                    border: 1px solid black;
                }
                p{
                    font-size: 14px;
                    position: absolute;
                    color: black;
                    transform: translateY(-40px);
                    z-index: 2;
                    background-color: white;
                    margin-left: 30%;
                    padding: 6px 6px 6px 6px;
                }
            }
            #containerGoogle, #containerLinkedin{
                display: flex;
                width: 80%;
                margin-left: 10%;
                border: 1px solid #E2E2E2;
                cursor: pointer;
                padding: 10px 0 0 15px;
                margin-top: 20px;
                img{
                    max-height: 20px;
                    width: auto;
                    height: auto;
                    max-width: 10%;  
                    transform: translateY(8px);
  
                }
                p{
                    font-size: 14px;
                    transform: translateY(-4px);
                    margin-left: 7px;
                
                }
            }
          
            
        }
    }
}

@media screen and (min-width: 500px){
    #mainContainerRegister{
        margin-top: 100px;
        h1{
            font-size: 30px;
        }
        #registerContainer{
            margin-left: 15%;
            #containerFormRegister{
                #errorMessage{
                    color: red;
                    font-size: 14px;
                    font-weight: bold;
                    width: 100%;
                    margin-left: 0%;
                }
                .button-form{
                    font-size: 18px;
                    width: 30%;
                    margin-left: 30%;
                    margin-top: 20px;
                    padding: 10px 10px 10px 10px;
                }
                #containerFirstLastName{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    #containerFirstName,#containerLastName{
                        width: 100%;
                    }
                    .inputField{
                        width: 80%;
                        margin-left: 0;
                        label{
                            font-size: 16px;
                            padding: 25px 25px 25px 25px;
                        }
                        input:not(:placeholder-shown) + label{
                            transform: translateY(-18px);
                        }
                        input:focus + label{
                            transform: translateY(-10px);
                        }
                        input{
                            padding: 20px 20px 20px 20px;
                            font-size: 16px;
                            height: 25px;
                        }
                    }
                }
                
                
                #containerEmailPassword{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin-top: 10px;
                    #containerEmail,#containerPassword{
                        width: 100%;
                    }
                    .inputField{
                        width: 80%;
                        margin-left: 0;
                        label{
                            font-size: 16px;
                            padding: 25px 25px 25px 25px;
                        }
                        input:not(:placeholder-shown) + label{
                            transform: translateY(-18px);
                        }
                        input:focus + label{
                            transform: translateY(-10px);
                        }
                        input{
                            padding: 20px 20px 20px 20px;
                            font-size: 16px;
                            height: 25px;
                        }
                    }
                    #containerPassword{
                        img{
                            height: 25px;
                            width: 25px;
                            right: 15%;
                            margin-top: 33px;
                        }
                    }
                }
                #containerSelectRole{
                    width: 100%;
                    margin-left: 0%;
                    .selectFieldContainer{
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                        label{
                            font-size: 18px;
                        }
                        .selectField{
                            margin-top: 3px;
                            width: 150px;
                            font-size: 20px;
                            option{
                                font-size: 20px;
                            }
                           
                        }
                    }
                }
                #containerDemarcation{
                    margin-top: 20px;
                    width: 90%;
                    margin-left: 0px;
                    hr{
                        border: 1px solid black;
                    }
                    p{
                        font-size: 20px;
                        transform: translateY(-45px);
                        margin-left: 33%;
                    }
                }
                #containerGoogle, #containerLinkedin{
                    width: 60%;
                    margin: 20px 0px 0px 0%;
                    padding: 10px 0 0 15px;
                    img{
                        max-height: 25px;
                        width: auto;
                        height: auto;
                        max-width: 15%;  
                        transform: translateY(9px);
                    }
                    p{
                        font-size: 16px;
                        transform: translateY(-3px);
                    }
                } 
            } 
            
        }
        
    }
}   


@media screen and (min-width: 1000px){
    #mainContainerRegister{
        h1{
            font-size: 40px;
        }
        #registerContainer{
            #containerFormRegister{
                #errorMessage{
                    font-size: 20px;
                }
                .button-form{
                    margin-top: 0px;
                    font-size: 20px;
                    padding: 12px 12px 12px 12px;
                }
                #containerFirstLastName{
                    .inputField{
                        label{
                            font-size: 20px;
                            padding: 30px 30px 30px 30px;
                        }
                        input:not(:placeholder-shown) + label{
                            transform: translateY(-23px);
                        }
                        input:focus + label{
                            transform: translateY(-13px);
                        }
                        input{
                            padding: 25px 25px 25px 25px;
                            font-size: 20px;
                            height: 30px;
                        }
                    }
                }
                
                
                #containerEmailPassword{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin-top: 10px;
                    #containerEmail,#containerPassword{
                        width: 100%;
                    }
                    .inputField{
                        label{
                            font-size: 20px;
                            padding: 30px 30px 30px 30px;
                        }
                        input:not(:placeholder-shown) + label{
                            transform: translateY(-23px);
                        }
                        input:focus + label{
                            transform: translateY(-13px);
                        }
                        input{
                            padding: 25px 25px 25px 25px;
                            font-size: 20px;
                            height: 30px;
                        }
                    }
                    #containerPassword{
                        img{
                            height: 30px;
                            width: 30px;
                            right: 15%;
                            margin-top: 40px;
                        }
                    }
                }
                #containerSelectRole{
                    .selectFieldContainer{
                        margin-top: 20px;
                        label{
                            font-size: 20px;
                        }
                    }
                }
                #containerDemarcation{
                    margin-top: 20px;
                    width: 90%;
                    margin-left: 0px;
                    hr{
                        border: 1px solid black;
                    }
                    p{
                        font-size: 20px;
                        transform: translateY(-45px);
                        margin-left: 35%;
                    }
                }
                #containerGoogle, #containerLinkedin{
                    width: 60%;
                    img{
                        max-height: 30px;
                        max-width: 20%;  
                        transform: translateY(12px);
                    }
                    p{
                        font-size: 20px;
                        transform: translateY(-5px);
                        margin-left: 10px;
                    }
                } 
            } 
            
        }
        
    }
}